* {
    margin: 0;
    padding: 0;
    font-family tahoma, arial;

}



#title {
	color: red;
}


h1, h2 {
    
    text-align: center;
    color: black;
    
    

}
h1 {
    
    font-size: 100px
    margin-bottom: 20px;

}
h2 {
    
    font-size: 26px
    
}
h4{color: red; font-size: 30px;}


.button_seephotos 
{
    
    position: absolute;
    bottom: 40%;
    left: 50%;
    width: 120px;
    height: 40px;
    padding 20px;
    background: bababa;
    border: none;
    color: #323232;
    font-size: 20px;
    margin-left: -50px;
    border-radius: 8px;	
	transition: all 0.6s;
	cursor: pointer;
    text-align: center;
}
.button_seephotos:hover
{
	collor: #fff;
	background-color: brown;
}


.button_about
{
	position: absolute;
    bottom: 85%;
    left: 95%;
    width: 60px;
    height: 27px;
    padding 20px;
    background: bababa;
    border: none;
    color: #323232;
    font-size: 20px;
    margin-left: -50px;
    border-radius: 8px;	
	transition: all 0.6s;
	cursor: pointer;
    text-align: center;
	
}

.button_about:hover
{
	collor: #fff;
	background-color: brown;	
}

.button_back
{	
    position: relative;
	bottom: -40%;
	left: 0%;
	width: 100px;
    height: 25px;
    padding 20px;
    background: bababa;
    border: none;
    color: #323232;
    font-size: 20px;
    margin-left: -50px;
    border-radius: 8px;	
	transition: all 0.6s;
	cursor: pointer;	
    text-align: center;
}

.button_back:hover
{
	collor: #fff;
	background-color: brown;	
}


html{
    
    scroll-behavior: smooth;
}


.MainPageContainer {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . . AboutButton"
    ". Text Text Text ."
    ". . . . ."
    ". . SeePhotosButton . ."
    ". . . . .";
    background: url(photos/fullpage.jpg) center;
    height: 100%;
    width: 100%;
    background-size:  cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.SeePhotosButton { grid-area: SeePhotosButton; }

.AboutButton { grid-area: AboutButton; }

.Text { grid-area: Text; }







.Photos {   
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-auto-rows: 1fr; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px px; 
  grid-template-areas: 
    ". . ."
    ". . ."
    ". . ."; 
  width: 1920px; 
  height: 1080px; 
}


.About {
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-auto-rows: 1fr; 
  grid-template-columns: 0.7fr 1.5fr 0.7fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". . ."
    ". Credits ."
    ". . ."; 
    background: url(photos/fullpage3.jpg) center;
	height: 100%;
    width: 100%;
    background-size:  cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
	
}
.Credits { grid-area: Credits; }

.Cat3Card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0 16px;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}


.polaroid {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
    
}

.container {
  text-align: center;
  padding: 10px 20px;
    
}