* {
    margin: 0;
    padding: 0;
    font-family tahoma, arial;

}


html{
    
    scroll-behavior: smooth;
}



button
{
    position: absolute;
    bottom: 40%;
    left: 50%;
    width: 120px;
    height: 40px;
    padding 20px;
    background: bababa;
    border: none;
    color: #323232;
    font-size: 20px;
    margin-left: -50px;
    border-radius: 8px;	
	  transition: all 0.6s;
	  cursor: pointer;
    text-align: center;
}
button:hover
{
	collor: #fff;
	background-color: brown;
}


.MainPage {
    background: url(photos/fullpage.jpg) center;
    height: 100%;
    width: 100%;
    background-size:  cover;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.Welcome {text-align: center; }
.Text1{text-align: center; height: 200px; position: relative;}

.Box {
  border-radius: 25px;
  collor: #fff;
  background-color: brown;
  padding: 20px;
  width: 400px;
  height: 200px;
  position: relative;
  left: 1350px;
  border: 3px solid brown;
  padding: 10px;
  top: 600px;
  text-align: center;
  font-size: 40px;
}

.Cat1 { 
    background: url(photos/KotBrytyjski.jpg) center;
    height: 100%;
    width: 100%;
    background-size:  cover;
    text-align: center;
}

.Cat2 { 
    background: url(photos/Cymric.jpg) center;
    height: 100%;
    width: 100%;
    background-size:  cover;
    text-align: center;
}

.Cat3 { 
    background: url(photos/Selkirkrex.jpg) center;
    height: 100%;
    width: 100%;
    background-size:  cover;
    text-align: center;
}

.Cat4 { 
    background: url(photos/kotsyjamski.jpg) center;
    height: 100%;
    width: 100%;
    background-size:  cover;
    text-align: center;
}

.Cat5 { 
    background: url(photos/2.png) center;
    height: 100%;
    width: 100%;
    background-size:  cover;
    text-align: center;
}
