* {
    margin: 0;
    padding: 0;
    font-family tahoma, arial;

}


html{
    
    scroll-behavior: smooth;
}



button
{
    
    position: absolute;
    bottom: 40%;
    left: 50%;
    width: 120px;
    height: 40px;
    padding 20px;
    background: bababa;
    border: none;
    color: #323232;
    font-size: 20px;
    margin-left: -50px;
    border-radius: 8px;	
	transition: all 0.6s;
	cursor: pointer;
    text-align: center;
}
button:hover
{
	collor: #fff;
	background-color: brown;
}


.MainPageContainer {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . . AboutButton"
    ". Text Text Text ."
    ". . . . ."
    ". . SeePhotosButton . ."
    ". . . . .";
    background: url(photos/fullpage.jpg) center;
    height: 100%;
    width: 100%;
    background-size:  cover;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.Welcome {text-align: center; }
.Text1{text-align: center; height: 200px; position: relative;}

.Cat1 { 
    background: url(photos/2.png) center;
    height: 100%;
    width: 100%;
    background-size:  cover;
    text-align: center;
}

.Box1 {
  border-radius: 25px;
  background: #ff6347;
  padding: 20px;
  width: 400px;
  height: 200px;
  position: relative;
  left: 1350px;
  border: 3px solid #ff6347;
  padding: 10px;
  top: 450px;
  text-align: center;
  font-size: 40px;
}

.Cat2 { 
    background: url(photos/1.png) center;
    height: 100%;
    width: 100%;
    background-size:  cover;
    text-align: center;
}

.Box2 {
  border-radius: 25px;
  background: #ff6347;
  padding: 20px;
  width: 400px;
  height: 200px;
  position: relative;
  left: 1350px;
  border: 3px solid #ff6347;
  padding: 10px;
  top: 450px;
  text-align: center;
  font-size: 40px;
}


.Cat3 { 
    background: url(photos/3.png) center;
    height: 100%;
    width: 100%;
    background-size:  cover;
    text-align: center;
}

.Box3 {
  border-radius: 25px;
  background: #ff6347;
  padding: 20px;
  width: 400px;
  height: 200px;
  position: relative;
  left: 1350px;
  border: 3px solid #ff6347;
  padding: 10px;
  top: 450px;
  text-align: center;
  font-size: 40px;
}



.Cat4 { 
    background: url(photos/5.png) center;
    height: 100%;
    width: 100%;
    background-size:  cover;
    text-align: center;
}

.Box4 {
  border-radius: 25px;
  background: #ff6347;
  padding: 20px;
  width: 400px;
  height: 200px;
  position: relative;
  left: 1350px;
  border: 3px solid #ff6347;
  padding: 10px;
  top: 450px;
  text-align: center;
  font-size: 40px;
}

